<!DOCTYPE html>
<html>
  <head>
    <title>Youtube Playlist - downloader</title>
    
    <script src="/reload/reload.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    
     <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script src="/libs/common.js"></script>
    
    <!--=========== Styles ==============-->
    <link rel="stylesheet" href="/css/roboto.css" />
        
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>
  <body ng-app>
      <div id="all">

        <div class="content width">
            <%-body -%>
            <div class="clear"></div>
        </div>
        <div class="foot">
            <div class="width">
                <div class="fright">
                    <div class="footText">
                        
                        Watch this project on GitHub..
                    </div>
                    <a href="https://github.com/junajan/YoutubeDownloader" target="_blank" class="git_icon link"></a>
                    <a href="https://www.facebook.com/xjunajan" target="_blank" class="fb_icon link"></a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44582724-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </body>
</html>