
<div class="playlist-wrapper">
	
	<h1><a href="/">Youtube Playlist - downloader</a></h1>
    <br />
    <input name="list" id="in" class="inputSize" placeholder="Give me YouTube playlist URL ;-)" /> 
    <input type="submit" id="magicButton" class="button fleft" value="Do Magic!" />
    <span class="fright">
    	<a href="javascript:void(0)" class="fill" onClick="$('#in').val('https://www.youtube.com/watch?v=hdSMZTSRQNc&list=PLgP9BKhYejiTAGUZZo1cdmT8XRwo_1Jq5');">
    		(or fill with mine)
    	</a>
	</span>
	<div class="clear"></div>
</div>

<div class="list hidden">
<h2><small>Choose songs you want to download (green = selected)... and click <a class="bold" id="fetchSongs" href="javascript:void(0);">here!</a></small></h2>
<div id="downloadArea" class="hidden"></div>
<div id="thankYouMsg" class="hidden">It's cool huh? :-)<br /><br /></div>
<ul>
</ul>

<div class="clear"></div>
</div>

<script type="text/javascript" src="/js/app.js"></script>